@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin btnSettings {
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}
