.footer {
  background-image: -webkit-image-set(
    url("../img/footerbg.webp") 1x,
    url("../img/footerbgretina.webp") 2x
  );
  background-image: image-set(
    url("../img/footerbg.webp") 1x,
    url("../img/footerbgretina.webp") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  display: flex;
  padding: 0 0 30px 0;
  .copyright {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }
  .footerInfo {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 35px 0;

    .footerText {
      width: 35%;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      line-height: 132%;
    }
  }
}

.footerSubtitle {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  position: relative;
  margin-bottom: 35px;
  &::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 2px;
    background-color: #fff;
    top: 30px;
  }
}
.contact {
  .contactInfo {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .emailLink {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 7px;
    &:hover {
      color: #b2b2b2;
    }
  }
}

.iconList {
  display: flex;
  li {
    list-style: none;
    a {
      text-decoration: none;
      margin: 0 15px 0 0;
      display: flex;
    }
  }
}
.locationIcon {
  width: 19px;
  height: 19px;
  fill: #fff;
}
.mailLinkIcon {
  width: 19px;
  height: 19px;
  fill: #fff;
  &:hover {
    fill: #b2b2b2;
  }
}
.icon {
  transition: all 0.3s ease;
  fill: #fff;
  width: 45px;
  height: 46px;
  &:hover {
    fill: #b2b2b2;
  }
}
