header {
  position: fixed;
  top: 0;
  width: 100%;
  .headerWrapper {
    padding-top: 35px;
    @include flex;
    .logo {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 175px;
      transition: all 1s ease;
      &:hover .computerLight,
      &:focus-visible .computerLight {
        -webkit-animation: blink-1 0.6s both;
        animation: blink-1 0.6s both;
      }
      .logoIcon {
        width: 63px;
        height: 63px;
      }
      .logoText {
        width: 95px;
        height: 38px;
      }
    }
  }
}

.primaryBtn {
  @include btnSettings;
  position: relative;
  font-size: 20px;
  min-width: 200px;
  padding: 15px 60px;
  color: #ffff;
  border: 2px solid #618135;
  background-color: #618135;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0%;
      top: 18px;
      height: 1px;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: #fff;
    }
  }
  &:hover,
  &:focus {
    background-color: #72a62b;
    border: 2px solid #72a62b;
    span::after {
      width: 100%;
    }
  }
  &:active {
    background-color: #517322;
    border: 2px solid #618135;
    span::after {
      transform: skaleX(0);
      width: 0%;
    }
  }
}

@media (max-width: 560px) {
  header {
    .container {
      padding: 25px 15px;
    }
    .headerWrapper {
      .primaryBtn {
        padding: 14px 49px;
        font-size: 18px;
        min-width: 163px;
      }
      .logo {
        width: 141px;
        height: 52px;
        .logoIcon {
          width: 52px;
          height: 52px;
        }
        .logoText {
          height: 52px;
        }
      }
    }
  }
}
@media (max-width: 370px) {
  header {
    .container {
      padding: 25px 10px;
    }
    .headerWrapper {
      .primaryBtn {
        padding: 12px 36px;
        font-size: 18px;
        min-width: 150px;
      }
    }
  }
}
