header {
  position: fixed;
  top: 0;
  width: 100%;
  .headerWrapper {
    padding-top: 35px;
    @include flex;
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 175px;
      transition: all 1s ease;
      &:hover .computerLight,
      &:focus-visible .computerLight {
        -webkit-animation: blink-1 0.6s both;
        animation: blink-1 0.6s both;
      }
    }
    .helpBtn {
      @include btnSettings;
      text-decoration: none;
      padding: 15px 40px;
      font-size: 20px;
      color: #ffff;
      border: 2px solid #618135;
      background-color: #618135;
      display: none;
      &:hover {
        background-color: #ffff;
        color: #618135;
      }
    }
  }
}
