header {
  position: fixed;
  top: 0;
  width: 100%;
  .headerWrapper {
    padding-top: 35px;
    @include flex;
    .logo {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 175px;
      transition: all 1s ease;
      &:hover .computerLight,
      &:focus-visible .computerLight {
        -webkit-animation: blink-1 0.6s both;
        animation: blink-1 0.6s both;
      }
      .logoText {
        width: 95px;
        height: 38px;
      }
    }
  }
}

.ctaButton {
  @include btnSettings;
  padding: 15px 60px;
  font-size: 20px;
  color: #ffff;
  border: 2px solid #618135;
  background-color: #618135;
  &:hover {
    background-color: #72a62b;
    border: 2px solid #72a62b;
    color: #fff;
    text-decoration: underline;
  }
  &:active {
    background-color: #517322;
  }
}
