.hero {
  background-image: image-set(
    url("../img/background.webp") 1x,
    url("../img/backgroundRetina.webp") 2x
  );
  background-size: cover;
  background-position: 65%;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  .heroTitle {
    width: 50%;
    margin: 0;
    line-height: 60px;
    font-size: 45px;
    font-weight: 600;
    color: black;
    .greenTitle {
      color: #618135;
    }
    .blueTitle {
      color: #32477c;
    }
  }
  .heroSubtitle {
    margin: 10px 0 52px 0;
    font-size: 22px;
    font-weight: 400;
    width: 45%;
    line-height: 30px;
    color: #484747;
  }
}

// Adaptive //

@media (max-width: 1200px) {
  .hero {
    .heroTitle {
      font-size: 40px;
      line-height: 50px;
    }
  }
}
@media (max-width: 1050px) {
  .hero {
    .heroTitle {
      font-size: 30px;
      line-height: 40px;
    }
    .heroSubtitle {
      font-size: 17px;
      line-height: 25px;
    }
  }
}
@media (max-width: 1025px) {
  .hero {
    background-image: image-set(
      url("../img/mobileBg.webp") 1x,
      url("../img/mobileBgRetina.webp") 2x
    );
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding-top: 200px;
    width: 100%;
    .container {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .heroTitle {
        text-align: center;
      }
      .heroSubtitle {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 915px) {
  .hero {
    padding-top: 150px;
    .heroTitle {
      width: 55%;
    }
  }
}
@media (max-width: 835px) {
  .hero {
    .heroTitle {
      width: 65%;
    }
  }
}
@media (max-width: 740px) {
  .hero {
    .heroTitle {
      width: 75%;
    }
    .heroSubtitle {
      width: 55%;
    }
  }
}
@media (max-width: 625px) {
  .hero {
    .heroTitle {
      width: 85%;
    }
    .heroSubtitle {
      width: 65%;
    }
  }
}

//Mobile version //

@media (max-width: 560px) {
  .hero {
    padding-top: 120px;
    .container {
      padding: 0 15px;
      .heroTitle {
        font-size: 28px;
        width: 100%;
      }
      .heroSubtitle {
        font-size: 18px;
        width: 100%;
        margin: 0;
      }
    }
  }
}

@media (max-width: 370px) {
  .hero {
    .container {
      padding: 0 10px;
      .heroTitle {
        font-size: 25px;
      }
      .heroSubtitle {
        font-size: 16px;
      }
      .primaryBtn {
        padding: 14px 40px;
        min-width: 180px;
      }
    }
  }
}
